/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  background-color: burlywood;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #f00;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header {
  background-color: #d8cccc;
  padding: 20px 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  padding: 10px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }

  .burger {
    display: block;
  }
}

/* Hero */
.hero {
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000;
}

.hero h1 span {
  color: #f00;
  font-weight: bold;
}

.btn {
  background-color: #f00;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}

/* Team */
#team {
  padding: 50px 0;
}

#team h2 {
  text-align: center;
  margin-bottom: 20px;
}
img {
  width: 70%;
}
.team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.member {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  border-radius: 150px;
}
